@CHARSET "ISO-8859-1";

#errorListTable tr {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 600px;
	white-space: nowrap;
}

#errorListTable td.errorLineMessage {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#errorListTable td.errorLineShort {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 80px;
}

#errorListTable {
	table-layout:fixed;
}

.stackTraceDetails div.stackTraceLine:nth-child(odd) {
    background-color: #E0E0E0;
}

#entryRequest label input {
    display: inline;
	margin-right:10px
}

#entryRequest label {
    display: inline;
	margin:0;
}

.detailsLabel {
    font-weight: bold;
    margin-right: 5px;
}

.detailsData {
	font-style:italic;
}

.backIcon {
    position: relative;
    top: 6px;
}
.backLink {
    font-size: 1.5em;
    cursor: pointer;
	right: 90px;
    top: 20px;
}