@CHARSET "ISO-8859-1";

#errorListTable tr {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 600px;
	white-space: nowrap;
}

#errorListTable td.errorLineMessage {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 600px;
}

#errorListTable td.errorLineShort {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 80px;
}

#errorListTable {
	table-layout:fixed;
}

.errorDetails>div>div:nth-child(odd) {
    background-color: #F9F9F9;
}

.stackTraceDetails div.stackTraceLine:nth-child(odd) {
    background-color: #E0E0E0;
}

#entryRequest label input {
    display: inline;
	margin-right:10px
}

#entryRequest label {
    display: inline;
	margin:0;
}